{# src/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}FC Plateforme{% endblock %}</title>

		{% block stylesheets %}
			{# On charge le CSS de bootstrap depuis le site directement #}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		{% endblock %}
	</head>

	<body>
		<div class="container">
		    <div id="header" class="jumbotron">
				<h1>{% block header %}Ma plateforme d'annonces{% endblock %}</h1>
			</div>

		    <div class="row">
		      	<div id="menu" class="col-sm-3">
		        	<h2>Les annonces</h2>
			        <ul class="nav nav-pills nav-stacked">
			          <li><a href="{{ path('corebundle_home') }}">Accueil</a></li>
			          <li><a href="{{ path('fc_platform_add') }}">Ajouter une annonce</a></li>
			          <li><a href="{{ path('corebundle_contact') }}">Contact</a></li>
			        </ul>

		        		<h2>Dernières annonces</h2>
		        		{{ render(controller("FCPlatformBundle:Advert:menu", {'limit': 3})) }}
		      	</div>
		     	<div id="content" class="col-sm-9">
		        	{% block body %}
		        	{% endblock %}
		      	</div>
		    </div>

		    <hr>

		    <footer>
		      <p>{% block footer %}The sky's the limit © {{ 'now'|date('Y') }} and beyond.{% endblock %}</p>
		    </footer>
		</div>
		{% block javascript %}
			{# Ajoutez ces lignes Javascript si vous comptez vous servir des fonctionnalités du Bootstrap Twitter #}
			<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			{# Ajoutez ces lignes Javascript si vous comptez vous servir de fosjsRouting #}
			<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
			<script src="/js/fos_js_routes.js"></script>
		{% endblock %}
		<script src="/js/fos_js_routes.js"></script>
	</body>	
</html>