{# src/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}FC Plateforme{% endblock %}</title>

		{% block stylesheets %}
			{# On charge le CSS de bootstrap depuis le site directement #}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
			{% stylesheets 'bundles/fcplatform/css/*' %}
		        <link rel="stylesheet" href="{{ asset_url }}" />
		    {% endstylesheets %}
			{# CSS Prod avec app.php (true) et app_dev.php (false)#}
			{#<link rel="stylesheet" href="{{ asset('Bundles/FCPlatform/css/style.css') }}">#}
		{% endblock %}
		{% block javascript %}
			{# Ajoutez ces lignes Javascript si vous comptez vous servir des fonctionnalités du Bootstrap Twitter #}
			<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
			<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		{% endblock %}
	</head>

	<body>
		<div class="container">
		    <div id="header" class="jumbotron">
				<h1>{% block header %}Ma plateforme d'annonces{% endblock %}</h1>
			</div>

		    <div class="row">
		      	<div id="menu" class="col-sm-2">
		        	<h2>Les annonces</h2>
			        <ul class="nav nav-pills nav-stacked">
			          <li><a href="{{ path('fc_platform_home',{ 'page':'1'}) }}">Accueil</a></li>
			          <li><a href="{{ path('fc_platform_add',{ 'new':'1' }) }}">Ajouter une annonce</a></li>
			          <li><a href="{{ path('corebundle_contact') }}">Contact</a></li>
			          <li><a href="{{ path('fc_platform_test') }}">Test</a></li>
			        </ul>

		        		<h2>Dernières annonces</h2>
		        		{{ render(controller("FCPlatformBundle:Advert:menu", {'limit': 3})) }}
		      	</div>
		     	<div id="content" class="col-sm-10">
		        	{% block body %}

		        	{% endblock %}
		      	</div>
		    </div>

		    <hr>

		    <footer>
		      <p>{% block footer %}The sky's the limit © {{ 'now'|date('Y') }} and beyond.{% endblock %}</p>
		    </footer>
		</div>
	</body>	
</html>