{# src/CoreBundle/Resources/views/Home/contact.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Contact</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<style>
			p.bg-success{font-size:1em;height: 50px;background-color: #D7F3FC;border: 1px solid #5A87BA;color:#0096FF;text-align: center;line-height: 48px;margin-top:50%;margin-bottom:50%;}
		</style>
		<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
	</head>
	<body>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<p class="bg-success">Message flash : La page de contact n'est pas encore disponible, merci de revenir plus tard.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<a class="btn btn-primary" href="{{ path('corebundle_home') }}">Retour</a>
			</div>
		</div>
		{% include 'ADesignsCalendarBundle::calendar.html.twig' %}
		{% block javascript %}
			{# Ajoutez ces lignes Javascript si vous comptez vous servir de fosjsRouting #}
			<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
			<script src="/js/fos_js_routes.js"></script>
			<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
		{% endblock %}	
	</body>	
</html>