{# src/FC/PlatformBundle/Resources/views/Test/index.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

	{% block title %}Accueil - Test - FC Plateforme{% endblock %}

	{% block header %}Symfony2 <small>page test</small>{% endblock %}
		{% block body %}
			<div class="table-responsive">
	        	<table class="table">
					{#{% for advert in listAdverts %}
						{% for categorie in advert.categories %}
		        		<tr>
							<td>Le <i>{{ advert.date | date('d/m/Y') }}</i><br>par {{ advert.author }}</td>
							<td><h4>{{ advert.title }}<br><small>{{ categorie.name }}</small></h4></td>
							<td class="end">{{ advert.content }}</td>
						</tr>
						{% endfor %}
					{% endfor %}#}
					{#<tr>
						<td>Le <i>{{ advert.date | date('d/m/Y') }}</i><br>par {{ advert.author }}</td>
						<td><h4>{{ advert.title }}</h4></td>
						<td class="end">{{ advert.content }}</td>
					</tr>#}
					{% for image in images %}
						
							{% if image.id is even %}
						<tr>
								<td><img src="{{ image.url }}" alt="{{ image.alt }}"></td>
							{% elseif image.id is odd %}
								<td><img src="{{ image.url }}" alt="{{ image.alt }}"></td>
						</tr>
							{% endif %}
						
					{% endfor %}
				</table>
			</div>
		{% endblock %}
		{% block javascripts %}
			
		{% endblock %} 