{# src/FC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "FCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block fcplatform_body %}

  <h2>Liste des annonces</h2>

  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for advert in listAdverts %}
      <tr>
          <td>
            <a href="{{ path('fc_platform_view', {'id': advert.id}) }}">{{ advert.title }}</a>
          </td>
          <td>
            {% if advert.author is defined %}
                {{ advert.author }}
            {% else %}
                Inconnu
            {% endif %}
          </td>
          <td>
              {{ advert.date|date('d/m/Y') }}
          </td>  
          <td>
              {% for categorie in advert.categories %}
                {{ categorie.name ~ ',' }}
              {% endfor %}
          </td>
          <td>
              <img width="125" height="50" src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
          </td>   
      </tr>
    {% else %}
      <tr>
        <td>Pas (encore !) d'annonces</td>
      </tr>
    {% endfor %}
  
  </table>
{% endblock %}